
<form>
	<label> Firstname:<input type="text" name="fname"> </label> <br>
	<label> Lastname:<input type="text" name="lname"> </label> <br>
	<label> Age:<input type="number" name="age" > </label> <br>
	<label> Address:<input type="text" name="address"> </label> <br>
	<label> Employee_id:<input type="text" name="id" > </label> <br>

	<button type="submit"> submit </button>
	<button type="cancel"> cancel </button> 
	
<h1></form>Welcome to rails</h1>

<a href="http://Amazon.com">Amazon</a>