.imgs={
   position: relative; 

}
h2 { 
  color: white;
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}
#para1{
  color:red;
  
}
#pre1{
  color:green;
}
.col-sm-8{
  font-weight: lighter;  
}
.col-sm-4{
  font-weight: lighter;
}
