body {
background: #efe5d0;
font: Verdana;
margin: 10px;
}
table {
border:1px solid brown;
padding: 5px;
width:350px;
}
th {
text-align: right;
vertical-align: top;
padding-right: 5px;
padding-top: 2px;
}
td {
vertical-align: top;
padding-bottom: 15px;
}
table table {
border: none;
}
table table td {
text-align: right;
}
#asided{
	border:2px solid brown;
	text-align:center;
	background: lightgrey;
	font-color:orange;
	width:140px ;
	height: 100px;
}